.burger {
    padding: 5px 0 11px;
    position: relative;
    z-index: 10;
    background: white;
    border: 0;
    z-index: 10;

    @media (max-width: 375px) {
        padding: calc(5 * 100vw / 375) 0 calc(11 * 100vw / 375);
    }


    .toggler-icon {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 2px;
        background: $black;
        transition: $t-ease;

        @media (max-width: 375px) {
            width: calc(32 * 100vw / 375);
            height: calc(2 * 100vw / 375);
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            background: $black;
            left: 0;
            top: -10px;
            transition: $t-ease;

            @media (max-width: 375px) {
                width: calc(32 * 100vw / 375);
                height: calc(2 * 100vw / 375);
                top: calc(-10 * 100vw / 375) solid #EBF2F8;
            }
        }

        &:after {
            top: 10px;

            @media (max-width: 375px) {
                top: calc(10 * 100vw / 375);
            }
        }
    }


}

.btn-active {

    .toggler-icon {
        background: transparent;

        &:before,
        &:after {
            background: $black;
            top: 0;
            transform: rotate(45deg);
        }

        &:after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}