.counter{

    background: $rose;
    

    h3{
        padding: 32px 0;
        font-size: 43px;
        line-height: 43px;
        font-family: 'Druk';
        color: $white;
    }

    span{
        color: $violet;
    }

}