.form {

    background: $violet;
    padding-top: 49px;
    padding-bottom: 60px;

    h3 {
        font-size: 38px;
        line-height: 38px;
        font-family: 'Druk';
        margin-bottom: 32px;
        color: $white;

        &+p {
            font-size: 16px;
            line-height: 25px;
            font-family: 'G400';
            margin-bottom: 32px;
            color: $white;

            @media (min-width: 500px) and (max-width:767px) {
                max-width: 80%;
            }
        }
    }

    option,
    input,
    input::placeholder {
        font-family: 'G400';
    }

    input,
    input::placeholder {

        line-height: 21px;
    }

    input {
        padding: 13px 21px 14px;
        font-size: 14px;
        height: auto;
        border-radius: 6px;
        border: 1px solid #CDCAF2;
        box-sizing: border-box;
        max-width: 280px;
    }

    input::placeholder {
        color: #CDCAF2;
        font-size: 14px;
        line-height: 21px;
    }

    option {
        font-size: 16px;
        line-height: 18px;
        color: $violet;
        padding: 15px 16px 14px;
    }

    select {
        padding: 12px 16px 13px;
        font-size: 16px;
        line-height: 18px;
        color: $violet;
        height: auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border: 1px solid #CDCAF2;
        box-sizing: border-box;
        max-width: 280px;
    }

    input:focus, select:focus{
        box-shadow: none;
        border: 1px solid #CDCAF2;
    }

    select:focus {
        color: $violet;
    }

    select {
        background: #fff url(/assets/img/Icon.svg) no-repeat;
        background-position: 97% 50%;
    }

    &-group{
        margin-bottom: 11px;
    }

    &-btn{
        font-size: 16px;
        line-height: 25px;
        font-family: 'G600';
        background: $rose;
        color: $white;
        padding: 10px 21px;
        border-radius: 8px;
    }

}