.main-content-center {

    color: $dark;

    @media ($xl) {
        justify-content: space-between;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    figure {
        background: $rose;
        width: 100%;
        margin-bottom: 16px;
        order: 2;

        @media (max-width: 375px) {
            margin-bottom: calc(16 * 100vw / 375);
        }

        @media ($md) {
            margin-bottom: 32px;
        }

        @media ($xl) {
            background: transparent;
        }
    }

    &>div+div {
        border-left: 2px solid #182F43;

        @media (max-width: 375px) {
            border-left: calc(2 * 100vw / 375) solid #182F43;
        }

        @media ($xl) {
            border-left: 0;
        }
    }

    &__article div {
        padding: 16px 0 40px;
        max-width: 187px;

        @media (max-width: 375px) {
            max-width: calc(187 * 100vw / 375);
            padding: calc(16 * 100vw / 375) 0 calc(40 * 100vw / 375);
        }

        @media ($xl) {
            max-width: 285px;
        }

        h4 {
            font-family: 'Druk';
            font-size: 38px;
            text-transform: uppercase;
            margin-bottom: 12px;

            @media (max-width: 375px) {
                font-size: calc(38 / 16 * 1rem);
                margin-bottom: calc(12 * 100vw / 375);
            }
        }

        p {
            font-family: 'G400';
            font-size: 14px;
            line-height: 20px;

            @media (max-width: 375px) {
                font-size: calc(14 / 16 * 1rem);
                line-height: calc(20 / 16 * 1rem);
            }

            @media ($md) {
                font-size: 16px;
                line-height: 25px;
            }
        }
    }


    @media ($xl) {

        &-order-1 {
            order: 1;
        }

        &-order-2 {
            order: 3;
        }
    }
}