.main-header-center{

    padding-top: 64px;
    color: $dark;

    h3{
        font-size: 64px;
        font-family: 'Druk';

        &>p{
            font-size: 22px;
            line-height: 30px;
            font-family: 'G400';
        }
    }

    &__article{

        padding-top: 32px;

        h4{
            font-family: 'G600';
            font-size: 22px;
            margin-bottom: 12px;
        }

        p{
            font-family: 'G400';
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 32px;
        }
    }
}