.speaker {

    color: $dark;

    h2 {
        font-size: 92px;
        line-height: 92px;
        font-family: 'Druk';

        @media (max-width: 375px) {
            font-size: calc(92 / 16 * 1rem);
            line-height: calc(92 / 16 * 1rem);
        }

        &+p {
            @media ($md) {
                margin: 0 auto 64px;
                max-width: 60%;
            }

            @media ($xl) {
                max-width: 48%;
            }
        }
    }

    p {
        font-size: 16px;
        line-height: 25px;
        font-family: 'G400';
        max-width: 80%;
        margin: 0 auto 36px;

        @media (max-width: 375px) {
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(25 / 16 * 1rem);
            margin: 0 auto calc(36 * 100vw / 375);
        }


    }

    &-content {

        position: relative;

        @media ($md) {
            width: 255px;
        }

        img {
            width: 100%;
            height: auto;
            margin-bottom: 12px;
            display: inline-block;

            @media (max-width: 375px) {
                margin-bottom: calc(12 * 100vw / 375);
            }
        }

        p {
            font-family: 'G400';
        }

        .figcapture {
            font-size: 12px;
            line-height: 16px;

            @media (max-width: 375px) {
                font-size: calc(12 / 16 * 1rem);
                line-height: calc(16 / 16 * 1rem);
            }
        }

        h4 {
            font-family: 'G600';
            font-size: 24px;
            line-height: 35px;

            @media (max-width: 375px) {
                font-size: calc(24 / 16 * 1rem);
                line-height: calc(35 / 16 * 1rem);
            }

            @media ($md) {
                font-size: 22px;
            }
        }

        .speaker-description {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 32px;

            @media (max-width: 375px) {
                font-size: calc(14 / 16 * 1rem);
                line-height: calc(21 / 16 * 1rem);
                margin-bottom: calc(32 * 100vw / 375);
            }

            span {
                font-family: 'G600';
            }
        }

        &-wrapper {

            @media ($md) and (max-width: 1199px) {
                max-width: 768px;
                margin: 0 auto;
            }
        }
    }

    &-help1 {
        @media ($md) and (max-width: 1199px) {
            order: 1;
        }
    }

    &-help2 {
        @media ($md) and (max-width: 1199px) {
            order: 2;
        }
    }

    &-help3 {
        @media ($md) and (max-width: 1199px) {
            order: 4;
        }
    }

    &-help4 {
        @media ($md) and (max-width: 1199px) {
            order: 3;
        }
    }

    &-help5 {
        @media ($md) and (max-width: 1199px) {
            order: 5;
        }
    }

    &-help6 {
        @media ($md) and (max-width: 1199px) {
            order: 6;
        }
    }

    &-help7 {
        @media ($md) and (max-width: 1199px) {
            order: 8;
        }
    }

    &-help8 {
        @media ($md) and (max-width: 1199px) {
            order: 7;
        }
    }
}