.ticket-block {
    position: relative;
    z-index: 10;
    width: 206px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background: $white;
    margin: 0 auto 8px;
    text-align: left;
    padding: 23px 0 29px 10px;
    color: $dark;
    font-family: 'G400';

    @media (max-width: 375px) {
        width: calc(206 * 100vw / 375);
        border-radius: calc(8 * 100vw / 375);
        margin: 0 auto calc(8 * 100vw / 375);
        padding: calc(23 * 100vw / 375) 0 calc(29 * 100vw / 375) calc(10 * 100vw / 375);
    }

    @media ($md) {
        height: 485px;
        margin: 0 10px 32px;
    }

    h4 {
        padding: 0 0 0 4px;
        font-size: 16px;
        margin-bottom: 4px;

        @media (max-width: 375px) {
            font-size: calc(16 / 16 * 1rem);
            margin-bottom: calc(4 * 100vw / 375);
            padding: 0 0 0 calc(4 * 100vw / 375);
        }
    }

    &-price {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 14px;
        padding: 0 0 0 6px;

        @media (max-width: 375px) {
            font-size: calc(12 / 16 * 1rem);
            line-height: calc(16 / 16 * 1rem);
            margin-bottom: calc(14 * 100vw / 375);
            padding: 0 0 0 calc(6 * 100vw / 375);
        }
    }

    &-span {
        font-family: 'G600';
        font-size: 38px;
        line-height: 52px;

        @media (max-width: 375px) {
            font-size: calc(38 / 16 * 1rem);
            line-height: calc(52 / 16 * 1rem);
        }
    }

    &-descr {
        font-size: 14px;
        line-height: 21px;
        padding: 0 0 0 4px;
        margin-bottom: 24px;

        @media (max-width: 375px) {
            font-size: calc(14 / 16 * 1rem);
            line-height: calc(21 / 16 * 1rem);
            margin-bottom: calc(24 * 100vw / 375);
            padding: 0 0 0 calc(4 * 100vw / 375);
        }
    }

    h5 {
        font-size: 18px;
        line-height: 28px;
        font-family: 'G600';
        margin-bottom: 20px;

        @media (max-width: 375px) {
            font-size: calc(18 / 16 * 1rem);
            line-height: calc(28 / 16 * 1rem);
            margin-bottom: calc(20 * 100vw / 375);
        }

        &+div {
            margin-bottom: 50px;

            @media (max-width: 375px) {
                margin-bottom: calc(50 * 100vw / 375);
            }

            @media ($md) {
                margin-bottom: 0;
            }
        }

        &+div p {
            font-size: 14px;
            line-height: 14px;
            padding: 0 0 0 6px;
            margin-bottom: 17px;
            display: flex;

            @media (max-width: 375px) {
                font-size: calc(14 / 16 * 1rem);
                line-height: calc(14 / 16 * 1rem);
                margin-bottom: calc(17 * 100vw / 375);
                padding: 0 0 0 calc(6 * 100vw / 375);
            }

            svg {
                margin-right: 12px;

                @media (max-width: 375px) {
                    margin-right: calc(12 * 100vw / 375);
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__btn {
        display: inline-block;
        margin: 0 auto;
        padding: 10px 28px;
        color: $white;
        font-family: 'G600';
        background: $violet;
        border-radius: 8px;
        transition: $t-ease;

        @media (max-width: 375px) {
            padding: calc(10 * 100vw / 375) calc(28 * 100vw / 375);
            border-radius: calc(8 * 100vw / 375);
        }

        @media ($md) {
            margin: 0;
            width: 182px;
            padding: 10px 26px;
        }

        @media (min-width: 992px) {
            &:hover {
                background: $rose;
                text-decoration: none;
                color: $white;
            }
        }
    }

    &-special {
        background: $violet;
        color: $white;



        .ticket-block__btn {
            background: $rose;

            @media (min-width: 992px) {
                &:hover {
                    background: $white;
                    text-decoration: none;
                    color: $violet;
                }
            }
        }

        .old-price,
        .old-price-cost {
            text-decoration: line-through;
            color: $rose;
        }

        .old-price {
            font-family: 'G600';
            font-size: 20px;
            line-height: 40px;

            @media (max-width: 375px) {
                font-size: calc(20 / 16 * 1rem);
                line-height: calc(40 / 16 * 1rem);
                padding: 0 calc(20 * 100vw / 375);
            }
        }

        .old-price-cost {
            font-family: 'G600';
            font-size: 10px;
            line-height: 30px;

            @media (max-width: 375px) {
                font-size: calc(10 / 16 * 1rem);
            }
        }
    }

}