.to-up {
    width: 60px;
    overflow: hidden;
    z-index: 20;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 25px;

    @media (max-width: 375px) {
        width: calc(60 * 100vw / 375);
        height: calc(60 * 100vw / 375);
        bottom: calc(25 * 100vw / 375);
        right: calc(25 * 100vw / 375);
    }

    @media ($xl) {
        width: 65px;
        height: 65px;
    }
}